/* Body */

body {
    width: 100%;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 1em;
    color: black;
    background-image: url("http://i1268.photobucket.com/albums/jj574/webbingit4you/business-website/logo_transparent_zpsiu9yeony.png");
}

/* Header */

div#header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: dodgerblue;
}

div#invisible-header {
    width: 100%;
    visibility: hidden;
}

div#header h1, div#invisible-header h1 {
    font-family: Verdana, Geneva, sans-serif;
    font-weight: 600;
    color: white;
    font-size: 2em;
    margin-left: 2%;
    padding: 0;
}

/* Navigation bar */

div.navbar {
    background-color: deepskyblue;
    width: 100%;
    left: 0;
    top: 0;
    margin: -.2em 0 0 -.5em;
}

.msgbtn {
    width: 160px;
    height: 40px;
    font-size: 1.8em;
    font-weight: 700;
    color: white;
    border: 1px solid deepskyblue;
    text-align: center;
    background-color: deepskyblue;
    margin: .2em auto .2em auto;
}

.msgbtn:hover {
    background-color: lightblue;
    color: grey;
}

div.navbar h6 {
    text-align: center;
}

/* Main */

div.main h2 {
    font-family: "Comic Sans MS", cursive;
    font-size: 1.5em;
    font-weight: 900;
    text-align: center;
    border: .1px solid deepskyblue;
    color: white;
    margin: -1.1em 0 0 -.3em;
    background-color: deepskyblue;
    padding: 0 0 .5em 0;
}

/* Content */

div.content {
    width: 45%;
    float: left;
}

div.content h3 {
    color: dodgerblue;
    font-size: 1.2em;
    text-indent: 2em;
}

div.content legend {
    font-size: 1.5em;
    color: blue;
}

fieldset {
    border: 5px inset skyblue;
    margin: 1em 1em 1em 1em;
    display: inline-block;
    padding: 1em 0 0 1em;
    width: 87%;
}

p.blue {
    color: dodgerblue;
    font-size: 1.3em;
    font-weight: 700;
}

div.content ul li {
    color: magenta;
    font-family: "Courier New", monospace;
    font-weight: 700;
}

/* div sidebar */

div.sidebar {
    width: 52%;
    float: right;
}

div.sidebar img {
    border: 2px inset deepskyblue;
}

div.sidebar fieldset {
    padding-left: 3em;
}

div.sidebar fieldset legend {
    font-size: 1.5em;
    color: dodgerblue;
    font-weight: 600;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    img.gallery {
        display: block;
    }
}

/* Clear Inline display */

div.no-wrap {
    clear: both;
}

/* footer */

div.footer {
    width: 100%;
    position fixed;
    bottom: 0;
    left: 0;
    text-align: center;
    padding: 2em;
    word-spacing: 3em;
    background-color: dodgerblue;
    margin: 0 0 0 -.4em;
}

div.footer a {
    color: white;
    font-size: 1.2em;
    font-weight: 600;
}

div.footer a:hover {
    color: blue;
}

/* special functions */

.boxed {
    font-family: "Courier New", monospace;
    border: 5px inset skyblue;
    padding: 1em;
    text-align: justify;
    margin: 0 1em 0 1em;
    font-weight: 700;
    color: magenta;
    width: 85%;
}

