<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <title>Templates | Template four</title>
      <meta name = "keywords" content = "HTML,templates,Metadata"/>
      <meta name = "description" content = "Sample page."/>
      <meta name = "revised" content = "Sample,8/28/2018"/>
      <meta name = "author" content = "Philip Granville"/>
        <link rel="stylesheet" type="text/css" href="css/temp4Style.css">
  </head>
  <body>
      <div id="header">
          <h1>Header</h1>
      </div>
      <div id="menu">
          <h2>menu</h2>
            <ul>
                <li><a href="one.html">button one</a></li>
                <li><a href="two.html">button two</a></li>
                <li><a href="three.html">button three</a></li>
                <li><a href="four.html">button four</a></li>
                <li><a href="five.html">button five</a></li>
                <li><a href="six.html">button six</a></li>
            </ul>
      </div>
      <div id="content">
          <h2>Content</h2>
      </div>
      <div id="clear">
      </div>
      <div id="footer">
          <h2>Footer</h2>
      </div>
  </body>
</html>