<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <title>Templates | Template Eight</title>
      <meta name = "keywords" content = "HTML,templates,Metadata"/>
      <meta name = "description" content = "Sample page."/>
      <meta name = "revised" content = "Sample,8/28/2018"/>
      <meta name = "author" content = "Philip Granville"/>
        <link rel="stylesheet" type="text/css" href="css/temp8Style.css">
  </head>
  <body>
      <div id="logo">
          <h2>Header Logo</h2>
      </div>
      <div id="banner">
          <h2>Header Banner</h2>
      </div>
      <div id="nav">
            <ul>
                <li><a href="one.html">button one</a></li>
                <li><a href="two.html">button two</a></li>
                <li><a href="three.html">button three</a></li>
                <li><a href="four.html">button four</a></li>
                <li><a href="five.html">button five</a></li>
                <li><a href="six.html">button six</a></li>
            </ul>
      </div>
      <div id="lb">
          <h2>Left Blocks</h2>
      </div>
      <div id="ccb">
          <h2>Center-Center Blocks</h2>
      </div>
      <div id="clb">
          <h2>Center-Left Blocks</h2>
      </div>
      <div id="crb">
          <h2>Center-Right Blocks</h2>
      </div>
      <div id="mc">
          <h2>Module Contents</h2>
      </div>
      <div id="rb">
          <h2>Right Blocks</h2>
      </div>
      <div id="clear"></div>
      <div id="footer">
          <h2>Footer Bar</h2>
      </div>
  </body>
</html>