<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Templates | Template three</title>
    <meta name = "keywords" content = "HTML,templates,Metadata"/>
    <meta name = "description" content = "Sample page."/>
    <meta name = "revised" content = "Sample,8/28/2018"/>
    <meta name = "author" content = "Philip Granville"/>
      <link rel="stylesheet" type="text/css" href="css/temp3Style.css">
  </head>
  <body>
      <div id="banner">
          <h1>Header</h1>
     </div>
     <div id="ls">
     </div>
     <div id="main">
     </div>
     <div id="rs">
     </div>
     <div id="clear">
     </div>
     <div id="footer">
         <h2>Footer</h2>
     </div>
      
  </body>
</html>