<!DOCTYPE html>
<html>
  <head>
    <title>Templates | Template one</title>
      <meta charset="utf-8">
      <meta name = "keywords" content = "HTML,sample,Metadata"/>
      <meta name = "description" content = "Sample page."/>
      <meta name = "revised" content = "Sample,8/28/2018"/>
      <meta name = "author" content = "Philip Granville"/>
        <link rel="stylesheet" type="text/css" href="css/temp1Style.css">
  </head>
  <body>
      <div id="banner">
          <h1>Banner</h1>
     </div>
     <div id="navbar">
         <h2>Navigation Bar</h2>
    </div>
     <div id="main">
         <h2>Text</h2>
    </div>
    <div id="image">
        <h2>Images</h2>
    </div>
    <div id="clear">
    </div>
    <div id="footer">
        <h2>Footer</h2>
    </div>
  </body>
</html>