<!DOCTYPE html>
<html>
  <head>
    <title>Templates | Template two</title>
      <meta charset="utf-8">
      <meta name = "keywords" content = "HTML,templates,Metadata"/>
      <meta name = "description" content = "Sample page."/>
      <meta name = "revised" content = "Sample,8/28/2018"/>
      <meta name = "author" content = "Philip Granville"/>
        <link rel="stylesheet" type="text/css" href="css/temp2Style.css">
  </head>
  <body>
      <div id="banner">
          <h1>Header</h1>
     </div>
     <div id="colmask">
         <h2>colmask</h2>
         <div id="colmid">
             <h2>colmid</h2>
             <div id="colleft">
                 <h2>colleft</h2>
                 <div id="col1wrap">
                     <h2>col1wrap</h2>
                     <fieldset id="col1left">
                         <h2>col1 (left)</h2>
                     </fieldset>
                 </div>
                 <div id="col2center">
                     <h2>col2 (center)</h2>
                 </div>
                 <div id="col3right">
                     <h2>col3 (right)</h2>
                 </div>
             </div>
         </div>
     </div>
     <div id="footer">
         <h2>Footer</h2>
     </div>
  </body>
</html>