<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <title>Templates | Template Nine</title>
      <meta name = "keywords" content = "HTML,templates,Metadata"/>
      <meta name = "description" content = "Sample page."/>
      <meta name = "revised" content = "Sample,8/28/2018"/>
      <meta name = "author" content = "Philip Granville"/>
        <link rel="stylesheet" type="text/css" href="css/temp9Style.css">
  </head>
  <body>
      <div id="logo">
          <h2>Logo</h2>
      </div>
      <div id="banner">
          <h2>Banner</h2>
      </div>
      <div class="clear"></div>
      <div id="header">
          <h2>Header</h2>
      </div>
      <div id="nav">
          <a href="one.html"><input type="button" class="msgbtn" value="button one"></a>
          <a href="two.html"><input type="button" class="msgbtn" value="button two"></a><br>
          <a href="three.html"><input type="button" class="msgbtn" value="button three"></a>
          <a href="four.html"><input type="button" class="msgbtn" value="button four"></a><br>
          <a href="five.html"><input type="button" class="msgbtn" value="button five"></a>
          <a href="six.html"><input type="button" class="msgbtn" value="button six"></a>
      </div>
      <div id="list">
            <ul>
                <li><a href="one.html">button one</a></li>
                <li><a href="two.html">button two</a></li>
                <li><a href="three.html">button three</a></li>
                <li><a href="four.html">button four</a></li>
                <li><a href="five.html">button five</a></li>
                <li><a href="six.html">button six</a></li>
                <li><a href="seven.html">button seven</a></li>
                <li><a href="eight.html">button eight</a></li>
                <li><a href="nine.html">button nine</a></li>
                <li><a href="ten.html">button ten</a></li>
                <li><a href="eleven.html">button eleven</a></li>
                <li><a href="twelve.html">button twelve</a></li>
                <li><a href="thirteen.html">button thirteen</a></li>
                <li><a href="fourteen.html">button fourteen</a></li>
                <li><a href="fifteen.html">button fifteen</a></li>
            </ul>
      </div>
      <div id="ms">
          <h2>Middle Space</h2>
      </div>
      <div id="ls">
          <h2>Lower Space</h2>
      </div>
      <div class="clear"></div>
      <div id="footer">
          <h2>Footer</h2>
      </fiv>
  </body>
</html>