<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <title>Templates | Template Seven</title>
      <meta name = "keywords" content = "HTML,templates,Metadata"/>
      <meta name = "description" content = "Sample page."/>
      <meta name = "revised" content = "Sample,8/28/2018"/>
      <meta name = "author" content = "Philip Granville"/>
        <link rel="stylesheet" type="text/css" href="css/temp7-1Style.css">
  </head>
  <body>
      <div id="top">
          <p>Personal Blog</p>
      </div>
      <div id="header">
          <h1>HEADER</h1>
      </div>
      <div id="nav">
            <ul>
                <li><a href="one.html">button one</a></li>
                <li><a href="two.html">button two</a></li>
                <li><a href="three.html">button three</a></li>
                <li><a href="four.html">button four</a></li>
                <li><a href="five.html">button five</a></li>
                <li><a href="six.html">button six</a></li>
            </ul>
      </div>
      <div id="ls">
          <h2>Left<br>Sidebar</h2>
      </div>
      <div id="content">
          <h2>CONTENT<br><span id="small">(POSTS GO HERE)</span></h2>
      </div>
      <div id="rs">
          <h2>Right<br>Sidebar</h2>
      </div>
      <div id="clear"></div>
      <div id="footer">
          <h2>Footer</h2>
      </div>
  </body>
</html>